<div class="albums-list-item-wrap">
  <div class="albums-list-item-info">
    <div class="album-image">
      <img src="{{ album.imageUrl }}" alt="">
    </div>
    <div class="album-title">
      <h3>{{ album.title }}</h3>
    </div>
  </div>
</div>
