.albums-list-item-wrap {
  width: 100%;

  .albums-list-item-info {
    width: 200px;
    min-height: 250px;
    margin: 20px 20px;
    padding: 20px 0;
    border: 1px dashed black;
    border-radius: 10px;

    .album-image {
      display: flex;

      img {
        margin: 0 auto;
      }
    }

    .album-title {
      padding: 30px 10px 0;
      text-align: center;
      line-height: 25px;
    }

  }
}
