$main-blue-color: lightskyblue;

.pager {
  &-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin: 50px auto;

    li {
      cursor: pointer;
      padding: 5px;

      &.active {
        background-color: $main-blue-color;
        color: white;
      }
    }

    &-item {

      &-page {
        padding: 5px;
        border: 1px solid $main-blue-color;

        &:hover {
          background-color: $main-blue-color;
          color: white;
        }

      }

      &-word {

        &-first:before, &-previous:before {
          content: '<<';
          margin-right: 10px;
        }

        &-next:after, &-last:after {
          content: '>>';
          margin-left: 10px;
        }
      }

    }


  }
}
