<div class="pager">
  <ul *ngIf="pager.pages && pager.pages.length" class="pager-list">
    <li (click)="setPage(1)"
        class="pager-list-item-word-first"
        [ngClass]="{disabled:pager.currentPage === 1}">
      <a>First</a>
    </li>
    <li (click)="setPage(pager.currentPage - 1)"
        class="pager-list-item-word-previous"
        [ngClass]="{disabled:pager.currentPage === 1}">
      <a>Previous</a>
    </li>
    <li (click)="setPage(page)"
        class="pager-list-item-page"
        *ngFor="let page of pager.pages"
        [ngClass]="{active:pager.currentPage === page}">
      <a>{{page}}</a>
    </li>
    <li (click)="setPage(pager.currentPage + 1)"
        class="pager-list-item-word-next"
        [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a>Next</a>
    </li>
    <li (click)="setPage(pager.totalPages)"
        class="pager-list-item-word-last"
        [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a>Last</a>
    </li>
  </ul>
</div>
