<div class="albums-list-wrap">

  <div class="empty-list" *ngIf="isAlbumsLoading || isAlbumsEmpty">
    <h1 *ngIf="isAlbumsEmpty">{{ albumsEmptyTitle }}</h1>

    <div *ngIf="isAlbumsLoading">
      <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>


  <div class="albums-list-item" *ngIf="!isAlbumsLoading && !isAlbumsEmpty">

    <app-albums-list-item
      *ngFor="let album of pagedAlbums"
      [album]="album"
    ></app-albums-list-item>

  </div>

  <div class="pager-wrapper" *ngIf="!isAlbumsLoading && !isAlbumsEmpty">
    <app-pager
      [allItems]="albums"
      [itemsPerPage]="5"
      (pagedItemsChanged)="onPagedItemsChanged($event)"
    ></app-pager>
  </div>

</div>







