<div class="artists-wrap">
  <div class="search-input">
    <input type="text"
           placeholder="Type here ..."
           [(ngModel)]="queryArtist"
           (change)="onChangeInputValue($event)">
    <button type="submit">Search</button>
  </div>
  <app-albums-list></app-albums-list>
</div>
