.artists-wrap {
  width: 100%;
  padding: 100px 0;

  .search-input {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input {
      width: 80%;
      height: 20px;
      padding: 10px 20px;
      border-radius: 10px;
      outline: 0;
      border: 1px solid grey;
      font-size: 1.5em;
    }

    button {
      border-radius: 10px;
      background-color: white;
      border: 1px solid grey;
      padding: 10px;
      cursor: pointer;
      outline: 0;
    }
  }
}
